n8n/workflow-itinerary-pdf-email-simplified.json
{
  "name": "Itinerary PDF Email (Simplified)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "itinerary-pdf",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "itinerary-pdf-email"
    },
    {
      "parameters": {
        "jsCode": "// Extract email, city from JSON and convert base64 PDF to binary\nconst webhookInput = $input.item.json;\n\n// n8n webhook puts JSON payload in 'body' property\n// Check both body and direct properties\nconst input = webhookInput.body || webhookInput;\n\nconsole.log('=== DEBUG: Webhook Input Structure ===');\nconsole.log('Webhook keys:', Object.keys(webhookInput));\nconsole.log('Input keys:', Object.keys(input));\nconsole.log('Has body?', !!webhookInput.body);\nconsole.log('Has pdf?', !!(input.pdf && input.pdf.data));\n\n// Extract form fields (now directly in JSON)\nconst email = input.email || '';\nconst city = input.city || 'Unknown City';\nconst duration = input.duration || '';\nconst startDate = input.startDate || '';\n\n// Get base64 PDF data\nlet pdfBase64 = null;\nif (input.pdf && input.pdf.data) {\n  pdfBase64 = input.pdf.data; // Already base64 from backend\n  console.log('PDF base64 data received, length:', pdfBase64.length);\n} else {\n  throw new Error('PDF data not found in input. Input keys: ' + Object.keys(input).join(', ') + '. Webhook keys: ' + Object.keys(webhookInput).join(', '));\n}\n\n// Validate email\nif (!email) {\n  throw new Error('Email not found in webhook input. Input structure: ' + JSON.stringify(Object.keys(input)));\n}\n\n// Convert base64 to Buffer for n8n binary format\nconst pdfBuffer = Buffer.from(pdfBase64, 'base64');\nconsole.log('PDF buffer created, size:', pdfBuffer.length, 'bytes');\n\n// Return JSON fields and binary PDF\n// n8n Code node expects binary data as Buffer with data property\nreturn {\n  json: {\n    email: email,\n    city: city,\n    duration: duration,\n    startDate: startDate\n  },\n  binary: {\n    'itinerary.pdf': {\n      data: pdfBuffer, // Buffer object (n8n requires this)\n      mimeType: 'application/pdf',\n      fileName: 'itinerary.pdf'\n    }\n  }\n};"
      },
      "id": "extract-and-convert",
      "name": "Extract & Convert PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fromEmail": "travel-assistant@example.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Your Travel Itinerary - {{ $json.city }}",
        "emailType": "html",
        "message": "<p>Hello,</p><p>Please find your travel itinerary attached.</p><p>Enjoy your trip!</p>",
        "attachments": {
          "attachments": [
            {
              "name": "itinerary.pdf",
              "dataPropertyName": "itinerary.pdf"
            }
          ]
        },
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [650, 300],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Itinerary PDF sent successfully\" } }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract & Convert PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Convert PDF": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-21T18:00:00.000Z",
  "versionId": "2"
}

