n8n/workflow-itinerary-pdf-email-fixed.json
{
  "name": "Itinerary PDF Email (Fixed)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "itinerary-pdf",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "itinerary-pdf-email"
    },
    {
      "parameters": {
        "jsCode": "// Extract form fields from multipart/form-data\n// n8n webhook receives multipart data - form fields might be in different locations\nconst input = $input.item.json;\n\n// Try multiple possible locations for form fields\nlet email = '';\nlet city = '';\nlet duration = '';\nlet startDate = '';\n\n// Check various possible locations\nif (input.body && typeof input.body === 'object') {\n  email = input.body.email || email;\n  city = input.body.city || city;\n  duration = input.body.duration || duration;\n  startDate = input.body.startDate || startDate;\n}\n\n// Also check direct properties\nemail = input.email || email;\ncity = input.city || city;\nduration = input.duration || duration;\nstartDate = input.startDate || startDate;\n\n// Check if body is a string (might need parsing)\nif (typeof input.body === 'string') {\n  try {\n    const parsed = JSON.parse(input.body);\n    email = parsed.email || email;\n    city = parsed.city || city;\n    duration = parsed.duration || duration;\n    startDate = parsed.startDate || startDate;\n  } catch (e) {\n    // Not JSON, might be form-encoded\n    console.log('Body is not JSON, trying form parsing');\n  }\n}\n\n// Log for debugging\nconsole.log('Extracted fields:', { email, city, duration, startDate });\nconsole.log('Input structure:', JSON.stringify(Object.keys(input), null, 2));\n\n// The PDF binary should be available as binary.itinerary.pdf\n// Pass through both JSON fields and binary data\nreturn {\n  json: {\n    email: email,\n    city: city,\n    duration: duration,\n    startDate: startDate\n  },\n  binary: $input.item.binary || {}\n};"
      },
      "id": "extract-fields",
      "name": "Extract Form Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fromEmail": "sarada.praneeth@gmail.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Your Travel Itinerary - {{ $json.city }}",
        "emailType": "html",
        "message": "<p>Hello,</p><p>Please find your travel itinerary attached.</p><p>Enjoy your trip!</p>",
        "attachments": {
          "attachments": [
            {
              "name": "itinerary.pdf",
              "dataPropertyName": "itinerary.pdf"
            }
          ]
        },
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [650, 300],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Itinerary PDF sent to \" + $json.email } }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Form Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Form Fields": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-21T18:30:00.000Z",
  "versionId": "3"
}
